body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: indigo;
}

header {
    background-color: #010626;
    color: #A904BF;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #A904BF;
}

.container {
    display: flex;
    padding: 20px;
}

section {
    background-color: #171473;
    padding: 20px;
}

section h2, p {
    margin-top: 0;
    color: #D705F2;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
}


aside {
    background-color: #171473;
    width: 30%;
    padding: 20px;
    margin-left: 20px;
}
h3{
    color: #D705F2;
}
aside h3 {
    margin-top: 0;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

aside ul li a:hover {
    color: #D705F2;
}

footer {
    background-color: #010626;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
